
.h2-pointage {
  display: flex;
  justify-content: center;
  color: rgb(226, 225, 225);
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.point-container{
  display: flex;
  justify-content: center;
}
.tb-pointage{
  margin :auto;
  // margin-left: 100px;
  // margin-right: 100px;
  min-width: 1110px;
}
// th {
//   font-weight: 400;
//   font-size: 1.2rem;
//   color: wheat;
//   background-color: #43403d;
//   height: 2em;
//   font-family: monospace;
// }

// td{
//   cursor: pointer;
//   height: 2rem;
//   font-size: 1.1rem;
//   color: #fde6cb;
//   font-family: system-ui;
//   background: #090808;
// }

 .pt-total{
  background:"aliceblue";
  color: #c3f88c;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.r-total{
  font-size: 1.4rem;

}

tr:hover{
  background-color: rgb(34, 71, 51);
   cursor: pointer;
}

